.zf-green {
    color: #68b604;
}
body{
    background: #efefef;
}

nav {
    color: #fff;
    background-color: #37474f;
    width: 100%;
    height: 56px;
    line-height: 56px;
}


.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

ul.side-nav.fixed li.logo{
    text-align:center;
    margin-top:32px;
    margin-bottom:80px
}
ul.side-nav.fixed{
    overflow:hidden
}

ul.side-nav.fixed li{
    line-height:44px
}

@media only screen and (min-width: 993px) {
    header, main, footer {
        margin-left: 300px;
    }
}
@media only screen and (min-width: 1200px){}
    html {
        font-size: 15px;
    }
@media only screen and (min-width: 992px) {
    html {
        font-size: 14.5px;
    }
}
@media only screen and (min-width: 993px) {
    nav {
        padding-left: 40px;
    }
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.content {
    display: flex;
    max-width: 100%;
    margin-left: .375rem;
    margin-right: .375rem;
}
.painel{
    flex-basis: 100%;
}
@media only screen and (max-width: 993px) {
    .left-panel {
        flex-basis: 100%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(55,71,79,0.87)

}



.registrar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.registrar .logo{
align-self: center;
width: 100%;
text-align: center;

}

i.menu_login{
    font-size: 15rem;
}

/* label color */
.input-field label {
    color: rgba(55,71,79,0.87);
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: rgba(55,71,79,0.87);
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgba(55,71,79,0.87);
    box-shadow: 0 1px 0 0 rgba(55,71,79,0.87);
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid rgba(55,71,79,0.87);
    box-shadow: 0 1px 0 0 rgba(55,71,79,0.87);
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: rgba(55,71,79,0.87);
}

.card-content .action button{
    width: calc(100% - 3rem);
    margin-top: 0rem;
}

