fieldset {
    border: 1px solid #DDD;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    padding-top: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}



.text-danger {
    color: #6E3733;
}

.link {
    cursor: pointer;
}

.contentView {
    margin: 0px 0px 0px 0px;
}

#nav {
    color: #fff;
    background-color: #37474f;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav.top-bar, nav.topbar a.button-collapse, nav.top-bar a.button-collapse i, nav.top-bar i{
    height: 64px;
    line-height: 64px;
    background: #37474f;

}
nav.top-bar .brand-logo {
    font-weight: 100;
    font-size: 2.5rem;
    top: 5px;
}
nav.nav-wrapper{
    position: relative;
    height: 100%;
}
.page-title{
    line-height:64px;
    font-size:100%;
}
#side-nav.fixed li{
    line-height:44px
}
/*.side-nav.fixed{
    overflow:hidden
}*/
#side-nav.fixed li.active{
    background-color:rgba(0,0,0,0.05)
}

#logo-container:hover{
    background-color:transparent
}
.box {
    width: 50%;
    float: left;
    height: 300px;/*Altura da linha*/
}

.separador{
    margin:5px 0 0;
    height: 300px;
    right: auto;
}

#nav-mobile li.bold{
    margin-left: 05px;
    /*-webkit-box-sizing:border-box;*/
    /*box-sizing:border-box;
    padding:0 45px 0 30px;
    border:0*/
}

main #container-conteudo{
    display: flex;
    max-width: 100%;
    position:relative;
    background:#f8f8f8;
}
main #container-conteudo .row{
    margin-left:0;
    margin-right:0
}

#alertas {
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1100 !important;
}

.oculto {
    display: none;
}

.wordBreak {
    word-wrap: break-word;
}

/*.divAlert {
    background: #fdf7f7 url("../public/img/delete.png") no-repeat right;
}*/

#loading {
    background-color: #000000;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
    display: none;
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

#loading img {
    margin: 18% 0 0 52%;
}

.divider {
    position: absolute;
    left: 50%;
    top: 10%;
    bottom: 10%;
    border-left: 1px solid white;
}

.data {
    width: 100px;
}


.checkAssinatura {
    margin: 0 !important;
    float: left;
}

.labelAssinatura {
    padding: 3px 0 0 10px !important;
}

.nav-acessos .tab-content {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: -3px;
}




.texto-editor table tr td {
    border: 1px solid;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}



